body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* added background color*/
    background-color: lightgrey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Custom Jumbotron*/
.jumbotron {
    text-align:center;
    background:none;    
}
.btn {
    background-color: purple;
    color: black;
}
/*Custom table for Index*/
table, th, td {
   border: 1px solid black;
}

table th {
    background-color: deeppink;
    color: white;
}

.navbar {
    background-color: lightpink;
    color: white;
}

table td {
    background-color: lightpink;
    color: purple;
}

.details {
    margin: auto;
    width: 50%;
    border: 3px solid purple;
    padding: 10px;
    background-color: deeppink
}

.pictures {
    
}