@{
    ViewBag.Title = "About Pink Heart Charities";
}
<h2>@ViewBag.Title.</h2>
<h3>Reference our contact page for donations</h3>

<p>Gummi bears pudding chupa chups jujubes caramels pudding. Bonbon caramels bear claw. Gummies croissant jelly-o sesame snaps cake cupcake cake pudding pudding. Halvah jelly-o liquorice pastry bear claw tart apple pie cupcake. Lollipop toffee sweet chocolate caramels. Gingerbread lemon drops chocolate bar tiramisu bear claw apple pie gingerbread marshmallow toffee. Candy canes gummies dessert donut oat cake sweet roll sweet roll liquorice. Macaroon bear claw jelly beans topping pie gingerbread biscuit. Jelly-o liquorice icing chocolate bar donut cupcake marzipan cookie wafer. Biscuit cotton candy sweet soufflé tart jelly-o.
Donut chocolate cake sweet roll wafer cake apple pie candy canes candy. Pie biscuit chocolate bar sweet roll croissant pie sugar plum tart chocolate bar. Pie ice cream soufflé jelly-o. Carrot cake muffin chupa chups chocolate toffee gummies. Toffee wafer lollipop lollipop cookie sweet macaroon dragée. Marshmallow wafer bonbon pastry sesame snaps. Bear claw cookie marzipan cookie dessert. Liquorice apple pie cake oat cake jelly beans dragée. Lemon drops toffee sesame snaps donut.
Bonbon oat cake muffin. Fruitcake brownie jelly-o lemon drops cookie topping carrot cake. Cheesecake chupa chups gingerbread cake halvah muffin chocolate. Cotton candy bonbon bear claw marzipan topping. Jelly dragée pastry sugar plum apple pie tootsie roll macaroon. Toffee donut sweet gummies marshmallow muffin sweet roll lemon drops. Wafer fruitcake tart lollipop cake croissant wafer tart. Ice cream pastry danish muffin.
Icing bonbon sugar plum sweet. Carrot cake jelly beans jelly. Danish cake croissant pudding apple pie. Dessert lollipop bonbon tiramisu oat cake sweet roll biscuit tootsie roll. Pie icing macaroon lollipop chocolate. Macaroon cookie bonbon topping carrot cake. Bonbon cake sweet roll cotton candy liquorice muffin. Dragée brownie dessert dessert gummi bears. Jelly brownie dessert fruitcake chupa chups. Bonbon caramels jelly beans oat cake marshmallow jelly-o sweet roll.</p>
