@{
    ViewBag.Title = "Pink Heart Charity";
}

<div class="jumbotron">
    <h1>Pink Heart</h1>
    <p class="lead">Charity website that supplies school uniforms for little girls K-5.</p>
    <p><a href="http://localhost:50420/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tops</h2>
        <p>
            Cupcake ipsum dolor sit amet lemon drops gingerbread dragée. Marshmallow icing croissant jelly-o.</p>
        <p><a class="btn btn-default" href="http://localhost:50420/Tops">Shop &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
        <p>Candy canes icing gummi bears. Dessert pastry soufflé donut. Cotton candy fruitcake gingerbread powder.</p>
        <p><a class="btn btn-default" href="http://localhost:50420/Bottoms">Shop &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <p>Cotton candy fruitcake gingerbread powder. Pastry danish chocolate bar liquorice marzipan chocolate cake soufflé halvah.</p>
        <p><a class="btn btn-default" href="http://localhost:50420/Shoes">Shop &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <p>YDessert tootsie roll tiramisu chupa chups. Oat cake soufflé oat cake. Toffee cookie halvah toffee candy canes danish soufflé chocolate bar.</p>
        <p><a class="btn btn-default" href="http://localhost:50420/Accessories">Shop &raquo;</a></p>
    </div>
</div>